@import 'tailwindcss';

:root{
    --background: rgb(230, 230, 230);
    --surface: rgb(255, 255, 255);
    --surface-hover: rgb(245, 245, 245);
    --border: rgb(200, 200, 200);
    --accent: rgb(100, 100, 255);
    --muted: rgb(120, 120, 120);
    --text: rgb(20, 20, 20);
}

.dark{
    --background: rgb(20, 20, 20);
    --surface: rgb(30, 30, 30);
    --surface-hover: rgb(40, 40, 40);
    --border: rgb(60, 60, 60);
    --accent: rgb(150, 150, 255);
    --muted: rgb(100, 100, 100);
    --text: rgb(230, 230, 230);
}

body{
    background-color: var(--background);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
    min-height: 100vh;
}